.con {
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 15px;
    position: relative;
    background-color: brown;
}

.dt {
    width: 1000px;
    background-color: black;
    color: white;
}

.lt {
    background-color: whitesmoke;
    color: black;
    width: 1000px;
}

.lt button {
    background-color: white;
    color: black;
}

.dt button {
    background-color: black;
    color: white;
}

.card {
    width: 30%;
    position: relative;
    border-radius: 20px;
    background-color: ivory;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.8s ease-in-out;
    overflow: none;
    box-shadow: 0px 0px 30px 20px grey;
}

.card div {
    color: black;
    /* border: 3px solid black; */
    box-sizing: border-box;
}

p span {
    font-weight: 700;
}

table {
    border: 2px solid white;
}

td,
th {
    border: 1px solid gray;

}

img {
    width: 150px;
    height: 150px;
}


.container {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btnsCon {
    display: flex;
    gap: 20px;
    position: relative;
}

.container>p {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    color: black;
    border-radius: 20px;
}

.incbtn,
.decbtn,
.resetbtn {
    width: fit-content;
    height: 50px;
    font-size: 20px;
}

.incbtn {
    background-color: green;
}


.decbtn {
    background-color: red;
}

.resetbtn {
    background-color: coral;
}

.clock-con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: blanchedalmond;
    padding: 40px;
    border-radius: 20px;
    font-size: xx-large;
    font-weight: 600;
}
.clock-con span{
    background-color: burlywood;
    padding: 20px;
    font-size: 40px;
    border-radius: 20px;
}

.stop-btns{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.stop-btns button{
    width: 33%;
    box-sizing: border-box;
}

.stop-btns button:nth-child(1){
    background-color: green;
}
.stop-btns button:nth-child(1):hover{
    background-color: white;
    border: 2px solid green;
    color: green;
}

.stop-btns button:nth-child(2){
    background-color: yellowgreen;
}
.stop-btns button:nth-child(2):hover{
    background-color: white;
    border: 2px solid yellowgreen;
    color: yellowgreen;
}

.stop-btns button:nth-child(3){
    background-color: brown;
}
.stop-btns button:nth-child(3):hover{
    background-color: white;
    border: 2px solid brown;
    color: brown;
}

.numAni{
    width: 300px;
    height: 15vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 1s infinite ease-in-out;
    position: absolute;
    top: 50px;
    bottom: 50px;
}
@keyframes slide{
    from{
        top: 90px;
    }
}