.bnr{
    width: 100%;
    height: 90vh;
    position: relative;
}
.bnr img{
    width: 90%;
    height: 90vh;
    border-radius: 20px;
}
.bnrcon{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: wheat;
    background-color: rgba(255, 255, 255, 0.162);
}

.c-btn{
    position: absolute;
    top: 50%;
    width: 70px;
    height: 70px;
    transform: translateY(-50%);
    background-color: antiquewhite;
    color: black;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gt{
    right: 70px;
}

.lt{
    left: 70px;
}
.dotcon{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: wheat;
}